.row {
  border-bottom: 10px solid white;
}

#header-logo {
  height: 100px;
  display: flex;
  justify-content: center;
}

#searchbar {
  width: 100%;
  background-color: rgb(224, 221, 221);
  border: none;
  border-radius: 5px 0 0 5px;
  height: 50px;
}
.search label {
  width: 100%;
  display: flex;
}

#btnSearch {
  background-color: rgb(224, 221, 221);
  border: none;
  border-radius: 0 5px 5px 0;
  width: 30px;
}

#btnSearch i {
  color: black;
}

/* dropdown */

.dropdown {
  color: white;
  display: flex;
  height: 70px;
}

.dropdown_listbox {
  height: 60px;
  width: 135px;
  margin: 0 30px 0 0;
  border-radius: 5px;
}

.dropdown-listbox__name {
  display: flex;
  align-items: center;
  margin: 18px 0;
}

.dropdown_listbox i {
  position: absolute;
  right: 10px;
  top: 22px;
}

.ingredients {
  background-color: rgb(35, 119, 245);
}

.device {
  background-color: rgb(151, 229, 151);
}

.utensils {
  background-color: tomato;
}

.search-ingredients,
.search-device,
.search-utensils {
  display: none;
}

.dropdown-listbox__name-close {
  display: none;
}

.search-open {
  display: block;
}

/* recipe item */

.container-item__recipe {
  display: flex;
  list-style: none;
  height: 380px;
  width: 364px;
  flex-direction: column;
  border-radius: 5px;
}

.divEmpty {
  background-color: #c7bebe;
  width: 380px;
  height: 178px;
  border-radius: 5px 5px 0 0;
}

.recipe {
  line-height: 1.2;
  background-color: #e7e7e7;
  height: 178px;
  width: 380px;
  border-radius: 0 0 5px 5px;
  padding: 0 15px 0 15px;
}

.recipe__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipe__explanation {
  display: flex;
  flex-wrap: nowrap;
  font-size: 12px;
}

.recipe__header h3,
.recipe__header span {
  font-size: 18px;
}

.recipe__header span {
  font-weight: 700;
}

.recipe__ingrédients {
  width: 171px;
  height: 105px;
  font-weight: 800;
}

.recipe__ingrédients span {
  font-weight: 600;
}

.recipe__description {
  width: 171px;
  height: 109px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
